<!DOCTYPE html>
<html>
  <head>
    <title>Network Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="<%= ENV["base_url"] %>/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css">

    <script src="<%= ENV["base_url"] %>/assets/jquery/jquery.min.js"></script>
    <script src="<%= ENV["base_url"] %>/assets/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="<%= ENV["base_url"] %>/assets/fontawesome-free-5.15.1-web/css/all.min.css">
  </head>

  <body>
    <div class="nt-container">
      <div class="nt-header">
        <div class="clearfix" style="float:right; padding-top: 30px;">
        <% if session[:username] %>
          <div class="nt-dropdown-group" style="display: inline;">
            <button type="button" class="btn btn-link dropdown-button" style="font-size: 13px; padding: 10px 20px;">
              <span style="color: #193053;"><%=session[:username]%></span>&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" style="color: #193053;"></i>
            </button>
            <div class="nt-dropdown" style="width: max-content; display: none;" data-type="menu">
              <img class="caret" src="<%= ENV["base_url"] %>/images/caret.png"/>
              <a href="<%= home_logout_url() %>">Log out</a>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      <div class="clearfix nt-body">
      <%= yield %>
      </div>

<!--
      <div class="clearfix nt-footer">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
          <div class="col-md-12 col-lg-10 offset-lg-1">
            <div style="float:left;">
              <div class="copyright">&copy;2020</div>
            </div>
            <div style="float:right;">
              <a href="" class="footer-link">Terms</a>
              <a href="" class="footer-link">Privacy Policy</a>
              <a href="" class="footer-link">Support</a>
              <a href="" class="footer-link">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>

    <script>
    $(document).ready(function() {
      $(".dropdown-button").on("click", function(e) {
        e.stopPropagation();
        $(".nt-dropdown").hide();
        $(this).siblings(".nt-dropdown").toggle();
      });

      $(".nt-dropdown > a").on("click", function() {
        let type = $(this).parents(".nt-dropdown").data("type");

        if(type != "menu") {
          $(this).parents(".nt-dropdown").children("a").removeClass("opt-selected");
          $(this).addClass("opt-selected");
          $(this).parents(".nt-dropdown-group").children("button").children("span").html($(this).html());
        }
      });

      $("body").on("click", function() {
        $(".nt-dropdown").hide();
      });
    })
    </script>
  </body>
</html>
